{% extends "blank.html" %}
{% block body %}
    <form method="post" action="/adm_add_election_post">
        <table class="table table-striped" border="0">
            <tr>
                <td>Election Name

                </td>
                <td><input type="text" name="elname" class="form-control" required/>

                </td>
    
    </tr>
    <tr>
            <td>Date and Time

            </td>
            <td><input type="datetime" name="datetime" class="form-control" required/>

            </td>

</tr>
<tr>
        <td>Status

        </td>
        <td><input type="text" name="status" class="form-control" required/>

        </td>

</tr>
<tr>
        <td>

        </td>
        <td><input type="submit" value="save" class="btn btn-dark btn-sm" required/>

        </td>

</tr>
</table>
    </form>

    
{% endblock %}