{% extends "blank.html" %}
{% block body %}
    HOME
        <table class="table table-striped" border="0">
            <tr>
                <td>
                    <a href="/adm_add_dept">department_add</a>
                </td>
            </tr>
            <tr>
                    <td>
                        <a href="/adm_view_dept">department_view</a>
                    </td>
                </tr>
            <tr>
                <td>
                    <a href="/adm_add_course">course_add</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_view_course">course_view</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_add_student">student_add</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_view_student">student_view</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_add_notification">notification_add</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_view_notification">notification_view</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_add_election">election_add</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_view_election">election_view</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_add_post">post_add</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_view_post">post_view</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_add_candidate">candidate_add</a>
                </td>
            </tr>
            <tr>
                <td>
                <a href="/adm_view_candidate">candidate_view</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/adm_add_electionvote">electionvote_add</a>
                </td>
            </tr><tr>
                    <td>
                        <a href="/adm_view_electionvote">electionvote_view</a>
                    </td>
                </tr>
                <tr>
                        <td>
                            <a href="/adm_add_winner">winner_add</a>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                <a href="/adm_view_winner">winner_view</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/adm_logout">LOGOUT</a>
                            </td>
                        </tr>






        </table>
{% endblock %}