{% extends "blank.html" %}
{% block body %}
    <table class="table table-striped" border="0">
        <tr>
            <td>loginid

            </td>
            <td>username
                
                </td>
                <td>password
                
                    </td>
                    <td>
                
                        </td>
                        <td>
                
                            </td>
                        
        </tr>
        <tr>
                <td>
                
                </td>
                <td>
                
                </td>
                <td>
                
                 </td>
                <td><a href="#">edit</a>
                
                </td>
                <td><a href="#">delete</a>
                
                </td>


        </tr>
    </table>
    
{% endblock %}