{% extends "blank.html" %}
{% block body %}
    <table class="table table-striped" border="0">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
                <th>Admission Number</th>
                    <th>Course</th>
                        <th>Semester</th>
                            <th>Gender</th>
                                <th>Guardian</th>
                                    <th>Date Of Birth</th>
                                        <th>Phone No:</th>
                                            <th>Email</th>

                                                    <th></th>
                                                      <th></th>
                
                                        </tr>
        {% for i in data %}
                                        <tr>
                                                <td>{{ loop.index }}</td>
                                            <td><img src="{{ i['image'] }}" width="50" height="50"></td>
                                                    <td>{{ i['stuname'] }}</td>

                                                            <td>{{ i['admno'] }}</td>
                                                                <td>{{ i['coursename'] }}</td>
                                                                    <td>{{ i['semester'] }}</td>
                                                                        <td>{{ i['gender'] }}</td>
                                                                            <td>{{ i['guardian'] }}</td>
                                                                                <td>{{ i['dob'] }}</td>
                                                                                    <td>{{ i['phoneno'] }}</td>
                                                                                      <td>{{ i['email'] }}</td>

                                                                                    <td><a href="/adm_edit_student/{{ i['stuid'] }}" class="btn btn-warning btn-sm">edit</a></td>
                                                                                        <td><a href="/adm_delete_student/{{ i['stuid'] }}" onclick="return confirm('Are you sure you want to Remove?');" class="btn btn-danger btn-sm">delete</a>
                
                                                                                            </td>

                                        </tr>
        {% endfor %}
    </table>
{% endblock %}