{% extends "blank.html" %}
{% block body %}
    <form action="/adm_add_winner_post" method="post">
        <table class="table table-striped" border="0">
            <tr>
                <td>Student Name

                </td>
                <td><select name="select" class="form-control">
                    {% for i in data %}
                    <option value="{{ i['stuname'] }}">{{ i['stuname'] }}</option>
                    {% endfor %}
                </select>

                </td>
            </tr>
            <tr>
                    <td>Post Name
    
                    </td>
                    <td><select name="select1" class="form-control">
                        {% for i in data1 %}
                        <option value="{{ i['postname'] }}">{{ i['postname'] }}</option>
                        {% endfor %}
                    </select>
                        
                    </td>
                </tr>
                <tr>
                        <td>Year From
        
                        </td>
                        <td><input type="number" name="yearfrom" class="form-control" required/>
                            
                        </td>
                    </tr>
                    <tr>
                            <td>Year To
            
                            </td>
                            <td><input type="number" name="yearto" class="form-control" required/>
                                
                            </td>
                        </tr>
                        <tr>
                                <td>
                
                                </td>
                                <td><input type="submit" value="save" class="btn btn-dark btn-sm" required/>
                                    
                                </td>
                            </tr>
        </table>
    </form>
{% endblock %}